body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Lato', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.4;
    color: #555;
}

.mgt-20 {
    margin-top: 20px;
}

.wrapper {
    width: 100%;
}

.centerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    line-height: 20px;
}

nav, .navlist {
    display: flex;
}

.navlist a {
    text-decoration: none;
    list-style: none;
    padding: 15px;
}

.logoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
}

.logoDiv h1 {
    font-weight: 500;
    font-size: 20px;
    color: #707070;
}

.solidLogo {
    height: 27px;
    padding-right: 5px;
}

.yellowMsg {
    padding: 0 15px;
    background-color: yellow;
    display: flex;
}

#redirectMessage {
    font-size: 23.4px;
}

.yellowMsg a {
    text-decoration: none;
    list-style: none;
    font-size: 1em;
    color: #7C4DFF;
}

.navLock {
    position: fixed;
    background-color: #fff;
}

/* END OF NAV */
/* TODO: add hover effect of the visible section of the page (section name glows in purpel */
/* TODO: check if possible to remove pixel jumps when comparing to original website */


.solidLogoBigger {
    height: 250px;
    margin: 20px 0 0;
}

.sectionWhite {
    padding: 60px 0;
    background-color: #fff;
}

hr {
    margin: 54px 0;
    width: 580px;
}

h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin: 20px 0 10px;
}

h2 {
    font-size: 36px;
    color: #777;
    text-align: center;
}

h3 {
    font-size: 26px;
    color: #333;
}

p {
    line-height: 28px;
    margin-bottom: 20px;
}

.paragraphText {
    width: 740px;
    text-align: center;
}

/* END OF SECTION 1 */

.sectionGray {
    background-color: #F5F5F5;
    padding: 60px 0;
}

.offersIntro p {
    margin: 0 7%;
    text-align: center;
}

.offersRow {
    margin: 0 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 86%;
}

.offersRow h3 {
    text-align: center;
}

.offerLogo {
    height: 55px;
    width: 54px;
}

.snowflake {
    width: 46px;
}

.offerArgument {
    width: 355px;
    justify-content: flex-start ;
}

/* /////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////// */

/* END OF SECTION 2 & 3 */

.person {
    width: 380px;
    text-align: center;
    padding: 0 15px;
    margin-top: 20px;
}

.person .team {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e3e3e3;

}

.team {
    display: inline-block;
}

.team > a {
    margin-top: 5px;
    color: #7c4dff;
    width: 30px;
    height: 30px;
    font-size: 18px;
}

.team:hover {
    background-color: #7c4dff;
    transition: all 0.3s;
}

.team:hover > a {
    color: #fff;
    transition: all 0.3s;
}

.alumni > a, i {
    color: #7c4dff;
    font-size: 16px;
}

.personLayout {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profilePic {
    height: 120px;
    border-radius: 50%;
}

.name {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 20px 0 10px;
    color: black;
}

/* end of team & alumni */
/* ////////////////////////////////////////////// */
/* sponsors section */

.qcriLogo {
    width: 350px;
}

.mastercardLogo {
    width: 300px;
    height: 180px;
}

.sponsorLogos {
    display: flex;
    justify-content: space-around;
}

/* /////////////////////////////////////////////// */
/* contact us */

.contactLayout {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.contactUs {

}

.contactInfo {
    width: 380px;
    text-align: center;
    padding: 0 15px;
    margin-top: 20px;
}

.contactInfo > a {
    text-decoration: none;
    color: #7c4dff;
}

.contactIcon {
    color: #7c4dff;
    margin: 0 0 15px;
}

/* /////////////////////////////////// */
/* footer */

footer {
    text-align: center;
    background-color: #2b2b2b;
    padding: 25px 0 15px;
}

footer > p { 
    color: white;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    padding: 0 15px;
}